/* Generics */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Containers */

.container {
	width: 1080px;
	max-width: 100%;
}

.container-fluid {
	width: 100%;
	max-width: 100%;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/* .row.g-10 {
	margin-left: -5px;
	margin-right: -5px;
}

.row.g-20 {
	margin-left: -10px;
	margin-right: -10px;
}

.row.g-30 {
	margin-left: -15px;
	margin-right: -15px;
}

.row.g-40 {
	margin-left: -20px;
	margin-right: -20px;
} */

.row.g-10 > [class^='col'] {
	margin-left: 5px;
	margin-right: 5px;
}

.row.g-20 > [class^='col'] {
	margin: 0 10px;
}

.row.g-30 > [class^='col'] {
	padding: 0 15px;
}

.row.g-40 > [class^='col'] {
	padding: 0 20px;
}

/* Alignment utilities */

.content-start {
	justify-content: start;
	text-align: start;
}

.content-center {
	justify-content: center;
	text-align: center;
}

.content-end {
	justify-content: flex-end;
	text-align: end;
}

.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.self-start {
	align-self: flex-start;
}

.self-center {
	align-self: center;
}

.self-end {
	align-self: flex-end;
}

.offset-11 {
	margin-left: calc(100% / 12 * 11);
}

.offset-10 {
	margin-left: calc(100% / 12 * 10);
}

.offset-9 {
	margin-left: calc(100% / 12 * 9);
}

.offset-8 {
	margin-left: calc(100% / 12 * 8);
}

.offset-7 {
	margin-left: calc(100% / 12 * 7);
}

.offset-6 {
	margin-left: calc(100% / 12 * 6);
}

.offset-5 {
	margin-left: calc(100% / 12 * 5);
}

.offset-4 {
	margin-left: calc(100% / 12 * 4);
}

.offset-3 {
	margin-left: calc(100% / 12 * 3);
}

.offset-2 {
	margin-left: calc(100% / 12 * 2);
}

.offset-1 {
	margin-left: calc(100% / 12 * 1);
}

/* Columns */

.col {
	flex: 1 0 auto;
}

.col-12 {
	flex-basis: 100%;
	max-width: 100%;
}

.col-11 {
	flex-basis: calc(100% / 12 * 11);
	max-width: calc(100% / 12 * 11);
}

.col-10 {
	flex-basis: calc(100% / 12 * 10);
	max-width: calc(100% / 12 * 10);
}

.col-9 {
	flex-basis: calc(100% / 12 * 9);
	max-width: calc(100% / 12 * 9);
}

.col-8 {
	flex-basis: calc(100% / 12 * 8);
	max-width: calc(100% / 12 * 8);
}

.col-7 {
	flex-basis: calc(100% / 12 * 7);
	max-width: calc(100% / 12 * 7);
}

.col-6 {
	flex-basis: calc(100% / 12 * 6);
	max-width: calc(100% / 12 * 6);
}

.col-5 {
	flex-basis: calc(100% / 12 * 5);
	max-width: calc(100% / 12 * 5);
}

.col-4 {
	flex-basis: calc(100% / 12 * 4);
	max-width: calc(100% / 12 * 4);
}

.col-3 {
	flex-basis: calc(100% / 12 * 3);
	max-width: calc(100% / 12 * 3);
}

.col-2 {
	flex-basis: calc(100% / 12 * 2);
	max-width: calc(100% / 12 * 2);
}

.col-1 {
	flex-basis: calc(100% / 12 * 1);
	max-width: calc(100% / 12 * 1);
}

@media screen and (min-width: 576px) {
	.col-sm-12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	.col-sm-11 {
		flex-basis: calc(100% / 12 * 11);
		max-width: calc(100% / 12 * 11);
	}

	.col-sm-10 {
		flex-basis: calc(100% / 12 * 10);
		max-width: calc(100% / 12 * 10);
	}

	.col-sm-9 {
		flex-basis: calc(100% / 12 * 9);
		max-width: calc(100% / 12 * 9);
	}

	.col-sm-8 {
		flex-basis: calc(100% / 12 * 8);
		max-width: calc(100% / 12 * 8);
	}

	.col-sm-7 {
		flex-basis: calc(100% / 12 * 7);
		max-width: calc(100% / 12 * 7);
	}

	.col-sm-6 {
		flex-basis: calc(100% / 12 * 6);
		max-width: calc(100% / 12 * 6);
	}

	.col-sm-5 {
		flex-basis: calc(100% / 12 * 5);
		max-width: calc(100% / 12 * 5);
	}

	.col-sm-4 {
		flex-basis: calc(100% / 12 * 4);
		max-width: calc(100% / 12 * 4);
	}

	.col-sm-3 {
		flex-basis: calc(100% / 12 * 3);
		max-width: calc(100% / 12 * 3);
	}

	.col-sm-2 {
		flex-basis: calc(100% / 12 * 2);
		max-width: calc(100% / 12 * 2);
	}

	.col-sm-1 {
		flex-basis: calc(100% / 12 * 1);
		max-width: calc(100% / 12 * 1);
	}

	.offset-sm-11 {
		margin-left: calc(100% / 12 * 11);
	}

	.offset-sm-10 {
		margin-left: calc(100% / 12 * 10);
	}

	.offset-sm-9 {
		margin-left: calc(100% / 12 * 9);
	}

	.offset-sm-8 {
		margin-left: calc(100% / 12 * 8);
	}

	.offset-sm-7 {
		margin-left: calc(100% / 12 * 7);
	}

	.offset-sm-6 {
		margin-left: calc(100% / 12 * 6);
	}

	.offset-sm-5 {
		margin-left: calc(100% / 12 * 5);
	}

	.offset-sm-4 {
		margin-left: calc(100% / 12 * 4);
	}

	.offset-sm-3 {
		margin-left: calc(100% / 12 * 3);
	}

	.offset-sm-2 {
		margin-left: calc(100% / 12 * 2);
	}

	.offset-sm-1 {
		margin-left: calc(100% / 12 * 1);
	}
}

@media screen and (min-width: 768px) {
	.col-md-12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	.col-md-11 {
		flex-basis: calc(100% / 12 * 11);
		max-width: calc(100% / 12 * 11);
	}

	.col-md-10 {
		flex-basis: calc(100% / 12 * 10);
		max-width: calc(100% / 12 * 10);
	}

	.col-md-9 {
		flex-basis: calc(100% / 12 * 9);
		max-width: calc(100% / 12 * 9);
	}

	.col-md-8 {
		flex-basis: calc(100% / 12 * 8);
		max-width: calc(100% / 12 * 8);
	}

	.col-md-7 {
		flex-basis: calc(100% / 12 * 7);
		max-width: calc(100% / 12 * 7);
	}

	.col-md-6 {
		flex-basis: calc(100% / 12 * 6);
		max-width: calc(100% / 12 * 6);
	}

	.col-md-5 {
		flex-basis: calc(100% / 12 * 5);
		max-width: calc(100% / 12 * 5);
	}

	.col-md-4 {
		flex-basis: calc(100% / 12 * 4);
		max-width: calc(100% / 12 * 4);
	}

	.col-md-3 {
		flex-basis: calc(100% / 12 * 3);
		max-width: calc(100% / 12 * 3);
	}

	.col-md-2 {
		flex-basis: calc(100% / 12 * 2);
		max-width: calc(100% / 12 * 2);
	}

	.col-md-1 {
		flex-basis: calc(100% / 12 * 1);
		max-width: calc(100% / 12 * 1);
	}

	.offset-md-11 {
		margin-left: calc(100% / 12 * 11);
	}

	.offset-md-10 {
		margin-left: calc(100% / 12 * 10);
	}

	.offset-md-9 {
		margin-left: calc(100% / 12 * 9);
	}

	.offset-md-8 {
		margin-left: calc(100% / 12 * 8);
	}

	.offset-md-7 {
		margin-left: calc(100% / 12 * 7);
	}

	.offset-md-6 {
		margin-left: calc(100% / 12 * 6);
	}

	.offset-md-5 {
		margin-left: calc(100% / 12 * 5);
	}

	.offset-md-4 {
		margin-left: calc(100% / 12 * 4);
	}

	.offset-md-3 {
		margin-left: calc(100% / 12 * 3);
	}

	.offset-md-2 {
		margin-left: calc(100% / 12 * 2);
	}

	.offset-md-1 {
		margin-left: calc(100% / 12 * 1);
	}
}

@media screen and (min-width: 992px) {
	.col-sm-12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	.col-sm-11 {
		flex-basis: calc(100% / 12 * 11);
		max-width: calc(100% / 12 * 11);
	}

	.col-sm-10 {
		flex-basis: calc(100% / 12 * 10);
		max-width: calc(100% / 12 * 10);
	}

	.col-sm-9 {
		flex-basis: calc(100% / 12 * 9);
		max-width: calc(100% / 12 * 9);
	}

	.col-sm-8 {
		flex-basis: calc(100% / 12 * 8);
		max-width: calc(100% / 12 * 8);
	}

	.col-sm-7 {
		flex-basis: calc(100% / 12 * 7);
		max-width: calc(100% / 12 * 7);
	}

	.col-sm-6 {
		flex-basis: calc(100% / 12 * 6);
		max-width: calc(100% / 12 * 6);
	}

	.col-sm-5 {
		flex-basis: calc(100% / 12 * 5);
		max-width: calc(100% / 12 * 5);
	}

	.col-sm-4 {
		flex-basis: calc(100% / 12 * 4);
		max-width: calc(100% / 12 * 4);
	}

	.col-sm-3 {
		flex-basis: calc(100% / 12 * 3);
		max-width: calc(100% / 12 * 3);
	}

	.col-sm-2 {
		flex-basis: calc(100% / 12 * 2);
		max-width: calc(100% / 12 * 2);
	}

	.col-sm-1 {
		flex-basis: calc(100% / 12 * 1);
		max-width: calc(100% / 12 * 1);
	}

	.offset-sm-11 {
		margin-left: calc(100% / 12 * 11);
	}

	.offset-sm-10 {
		margin-left: calc(100% / 12 * 10);
	}

	.offset-sm-9 {
		margin-left: calc(100% / 12 * 9);
	}

	.offset-sm-8 {
		margin-left: calc(100% / 12 * 8);
	}

	.offset-sm-7 {
		margin-left: calc(100% / 12 * 7);
	}

	.offset-sm-6 {
		margin-left: calc(100% / 12 * 6);
	}

	.offset-sm-5 {
		margin-left: calc(100% / 12 * 5);
	}

	.offset-sm-4 {
		margin-left: calc(100% / 12 * 4);
	}

	.offset-sm-3 {
		margin-left: calc(100% / 12 * 3);
	}

	.offset-sm-2 {
		margin-left: calc(100% / 12 * 2);
	}

	.offset-sm-1 {
		margin-left: calc(100% / 12 * 1);
	}
}

